.body-home{
    margin-top: 140px !important;
    margin-left: 60px;
    height: auto;
    width: fit-content;
    /* background-image:linear-gradient(90deg, rgb(169, 104, 178),rgb(50, 125, 171));
    color: rgb(255, 255, 255); */
}
.movingobject{
margin: 150px 0 0 100px;
z-index: 50;
height: 500px;
width: 500px;
position:fixed;
}
.movingobject img{
    animation: move 5s linear 1s infinite alternate;

}
@keyframes move{
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: 200px;
    }
    100%{
        margin-top: 400px;
    }
    
}
@media screen and (max-width:576px) {
   .body-home{
    margin-left:0;
    margin-top: 110px;
   }
  
}