
*{
    z-index: 0;
}
ul{
    list-style: none;
}
.links-container{
    height: 80px;
    background-color: rgb(255, 0, 179);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   position: fixed;
   width: 100%;
}
.round-img{
    border-radius: 50%;
}
.links-container li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.links-container li a:hover{
    color: aquamarine;
    transition:0.5s;
    text-decoration: underline;
}
/* -------------mobile header-------------- */
.nav2{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:rgb(255, 0, 179) ;
    justify-content: space-between;
    padding: 0 2%;
    visibility: hidden;
   margin-bottom: -120px;
    /* position: fixed; */
}
#theme{
    position: fixed;
    z-index: 10;
    margin-top: 5px;
    margin-left: 85%;
    display: flex;
    height: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-family:cursive;
}
#theme input{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#acnt-btn{
    background-color: unset !important;
    border: none;
    border-radius: 50%;
}
.acnt-model{
    width: 30%;
    margin-left: 70%;
    margin-top: 50px;
}
.model-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.model-content{
background-image: linear-gradient(to right, rgb(48, 104, 167), rgb(190, 22, 148));
color:white;
font-family: cursive;
}

.menu-icon{
    flex-basis: 2%;
    margin-top:22px !important;
    padding: 0 !important;
    z-index: 20;
    position: fixed;
}
.sidebar{
    background-color: rgb(17, 17, 80);
    color: white;
}
.accordianHeader{
    margin: 3px;
}
.offcanvas.offcanvas-start{
    width: 300px;
}
.accordion-button{
  padding: 7px;
}
.accordianHeader a{
    font-weight: bold;
    color: rgb(162, 0, 255);
    text-decoration: none
}
.accordianHeader img{
    margin-right: 15px;
}
.accordianHeader a:hover{
    font-weight: bolder;
    color: rgb(255, 0, 162);
    text-decoration: none;
}
.accordionbody ul li{
    list-style:outside;
    text-decoration: none;
}
.accordionbody ul li a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.accordionbody ul li a:hover{
    color: red;
    text-decoration:underline
}
/* fixed sidebar */
.topicicon{
    height: 600px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    margin-top: 130px;
    padding-top: 30px;
    box-shadow:5px 5px 3px rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topicicon>div{
    margin: 8px 2px 19px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topicicon>div>a>img{
    box-shadow: 4px 2px 3px 2px rgb(219, 219, 219);
}
.topicicon>div>img:hover{
    box-shadow: 2px 4px 2px 2px rgba(93, 95, 122, 0.5) ;
}
.topicicon>div>a{
    text-decoration: none;
    color: midnightblue;
    font-size: small;
}
.topicicon>div>a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: blue;
}
.mi{
    margin-top: 10px;
    position: fixed;
    z-index: 30;
    opacity: 0.3;
    box-shadow: 2px 3px 6px 1px rgb(111, 111, 111);
    animation: moveb 15s linear 1s infinite alternate;
}
@keyframes moveb{
    0%{
        margin-left: 0;
        transform: rotateY(0deg);

    }
    100%{
        margin-left: 90%;
        transform: rotateY(180deg);

    }
}
.pyicon{
    margin-top: 10px;
    position: fixed;
    z-index: 30;
    opacity: 0.3;
    box-shadow: 2px 3px 6px 1px rgb(111, 111, 111);
    animation: movep 15s linear 1s infinite alternate;
}
@keyframes movep{
    0%{
        margin-left: 90%;
        transform: rotateY(0deg);
    }
    100%{
        margin-left: 0%;
        transform: rotateY(180deg);
    }
}
 @media screen and (max-width:576px) {
    .links-container{
        visibility: hidden;
        position: fixed
    }
    .nav2{
        display: flex;
        visibility: visible;
        padding-left:35px ;
        align-items: center;
        justify-content: center;
        position: fixed;
        margin-top: -110px;
        margin-bottom: 50px;
    }
    .menu-icon {
        flex-basis: 2%;
        margin-top: -90px !important;
        padding: 0 !important;
        z-index: 20;
        position: fixed;
    }
    .links-container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   padding: 0;
   margin-top: 15px;
   flex-basis: 70%;
    }
    .links-container2 li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .links-container2 li a:hover{
        color: blue;
        text-decoration: underline;
    }
    .acnt-model{
        width: 30%;
        margin-left: 50%;
        margin-top: 50px;
    }
    
    .account2{
        height: 40px;
        margin-top: 15px;
        flex-basis: 15%;
    }
    .option-body{
        margin-top: -6px;
    }
    .topicicon{
        visibility: hidden;
    }
    
    .linkstyle a{
        text-decoration: none;
        list-style: none;
        color: white;
        margin: 2%;
    }
    #theme{
        margin-top: -125px;
    }
    .mi, .pyicon{
        margin-top: -105px;
    }
 }