
*{
    z-index: 0;
}
ul{
    list-style: none;
}

.links-container{
    height: 80px;
    background-color:rgb(16, 16, 76);;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   position: fixed;
   width: 100%;
   z-index: 0 !important;
}
.round-img{
    border-radius: 50%;
}
.links-container li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 5;
}
.links-container li a:hover{
    color: aquamarine;
    transition:0.5s;
    text-decoration: underline;
}
/* -------------mobile header-------------- */
.nav2{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:rgb(16, 16, 76);
    justify-content: space-between;
    padding: 0 2%;
    visibility: hidden;
   margin-bottom: -120px;
    /* position: fixed; */
}


#acnt-btn{
    background-color: unset !important;
    border: none;
    border-radius: 50%;
}

.acnt-model{
    width: 30%;
    margin-left: 69%;
    margin-top: 50px;
}
.model-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.model-content{
background-image: linear-gradient(to right, rgb(174, 170, 67), rgb(247, 0, 185));
color:white;
font-family: cursive;
}
#hover-icon{
    height: 20x;
    width:80%;
    margin-top: 70px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    margin-left:700px;
    transition: 0.5s;
}
#like{
    height: 30px;
    width: 30px;
    background-image: url(static/images/em1.jpg);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px -2px 4px 4px rgb(255, 255, 255);
}
.emoji{
    height:30px ;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px -2px 4px 4px rgb(255, 255, 255);
    /* background-size: cover; */
}
.emoji img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-size: cover;
    animation: rotate 1s linear 1s infinite alternate;
}
.ftr{
    display: flex;
    justify-content: space-between;
}
@keyframes rotate{
    10%{
        transform: rotateY(25deg);
    }
    70%{
        transform: rotateY(-25deg);
    }
    100%{transform: rotateY(0deg);}
    }
.menu-icon{
    flex-basis: 2%;
    margin-top:22px !important;
    padding: 0 !important;
    z-index: 20;
    position: fixed;
}
.sidebar{
    background-color: rgb(17, 17, 80);
    color: white;
}
.accordianHeader{
    margin: 3px;
}
.offcanvas.offcanvas-start{
    width: 300px;
}
.accordion-button{
  padding: 7px;
}
.accordianHeader a{
    font-weight: bold;
    color: rgb(162, 0, 255);
    text-decoration: none
}
.accordianHeader img{
    margin-right: 15px;
}
.accordianHeader a:hover{
    font-weight: bolder;
    color: rgb(255, 0, 162);
    text-decoration: none;
}
.accordionbody ul li{
    list-style:outside;
    text-decoration: none;
}
.accordionbody ul li a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.accordionbody ul li a:hover{
    color: red;
    text-decoration:underline
}
/* chat bot------- */
.fixedIcon{
    float: right;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 82px;
}
#addNote{
    margin-top: 87px;
}
.fixedIcon img{
    border-radius: 50%;
}
/* fixed sidebar */
#topicicon{
    height: 600px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    margin-top: 130px;
    padding-top: 30px;
    box-shadow:5px 5px 3px rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topicicon>div{
    margin: 8px 2px 19px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topicicon>div>a>img{
    box-shadow: 4px 2px 3px 2px rgb(219, 219, 219);
}
#topicicon>div>img:hover{
    box-shadow: 2px 4px 2px 2px rgba(93, 95, 122, 0.5) ;
}
#topicicon>div>a{
    text-decoration: none;
    color: midnightblue;
    font-size: small;
}
#topicicon>div>a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: blue;
}
.mi{
    margin-top: 10px;
    position: fixed;
    z-index: 1;
    opacity: 0.3;
    box-shadow: 2px 3px 6px 1px rgb(232, 232, 232);
    animation: moveb 15s linear 1s infinite alternate;
}
@keyframes moveb{
    0%{
        margin-left: 0;
        transform: rotateY(0deg);

    }
    100%{
        margin-left: 90%;
        transform: rotateY(180deg);

    }
}
.pyicon{
    margin-top: 10px;
    position: fixed;
    z-index: 1;
    opacity: 0.3;
    box-shadow: 2px 3px 6px 1px rgb(111, 111, 111);
    animation: movep 15s linear 1s infinite alternate;
}
@keyframes movep{
    0%{
        margin-left: 90%;
        transform: rotateY(0deg);
    }
    100%{
        margin-left: 0%;
        transform: rotateY(180deg);
    }
}
/* --sign in || sign up page */
.authentication{
display: flex;
float: left;
}
.authentication a{
    text-decoration: none;
    padding: 4px 10px;
    background-color: rgb(5, 13, 235);
    color: white;
    border-radius: 10%;
}

 @media screen and (max-width:576px) {
    .links-container{
        visibility: hidden;
        position: fixed;
        height:0;
    }
    .chatbot{
        margin-top: -67px;
    }
    .fixedIcon{
        margin-top: -64px;
    }
    .nav1{
        height: 0;
    }
    #addNote{
        margin-top: -59px;
        margin-left: 277px;
    }
    .nav2{
        display: flex;
        visibility: visible;
        padding-left:35px ;
        align-items: center;
        justify-content: center;
        position: fixed;
        margin-top: -140px;
        margin-bottom: 50px;
    }
    .menu-icon {
        margin-top: -121px !important;
        padding: 0 !important;
        z-index: 20;
        position:fixed;
    }
    .links-container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   padding: 0;
   margin-top: 45px;
   flex-basis: 70%;
    }
    .toolbar{
        margin-top:-130px;
    }
    .links-container2 li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .links-container2 li a:hover{
        color: blue;
        text-decoration: underline;
    }
    .acnt-model{
        margin-top: 50px;
        width: 60%;
        margin-left: 42%;
    }
    
    .account2{
        height: 40px;
        margin-top: 15px;
        flex-basis: 15%;
    }
    .option-body{
        margin-top: -6px;
    }
    #topicicon{
        visibility: hidden;
    }
    
    .linkstyle a{
        text-decoration: none;
        list-style: none;
        color: white;
        margin: 2%;
    }
    #theme{
        margin-top: -115px;
    }
    .mi, .pyicon{
        margin-top: -135px;
    }
   
 }