.body-part{
    margin-left: 60px;
    margin-top: -125px;
}

.text-center{
    display: flex;
    justify-content: center;
}
.jnav{
    margin-top: -10px;
    z-index: 10;
}
ul{
    list-style: none;
}
.jlinks-container{
    background-color: rgb(233, 227, 231);
    display: flex;
    align-items: center;
   width: 100%;
 margin-top: 130px;
 padding: 0;
}
.jround-img{
    border-radius: 50%;
}
.jlinks-container li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}
.jlinks-container li a:hover{
    color: rgb(21, 0, 255);
    transition:0.5s;
    text-decoration: underline;
}
/* coresol slide css */
.jtopic-slide{
display: flex !important;
flex-direction: row !important;
width: 100%;
justify-content: space-evenly;
background-color: rgb(50, 56, 61);
}
.carousel { 
    height:  inherit;
    position: fixed;
 }
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 90%;
    outline: black;
    background-color: rgb(0, 0, 0);
    background-size: 100%, 100%;
   margin: 0 -20px;
    border: 2px solid black;
}
.carousel-control-next, .carousel-control-prev{
    width: 18px !important;
}
.jnav-mobile{
    visibility: hidden;
    height: 0;
    width: 0;
    }
@media screen and (max-width:768px) {
    .jnav-mobile{
    visibility: visible;
    height: inherit;
    width:100%;
    margin-top: -6px;
    margin-bottom: 160px;
    }
    .jnav-desktop{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .carousel-control-next-icon{
     margin: -2px 0px;   
    }
     }
 @media screen and (max-width:576px) {
    .jaccount2{
        height: 40px;
        margin-top: 15px;
    }
    .jnav-mobile{
        margin-top: -55px;
    }
.nav2{
    display: flex;
    justify-content: space-evenly;
}
    .joption-body{
        height: 400px;
        width: 200px;
        margin-top: -6px;
        position: fixed;
        margin-left: -200px;
        transition: 0.5s;
        padding: 1%;
        background-color: rgb(91, 36, 84);
    }
    #joption-dismiss{
        float: right;
        background-color: rgb(0, 0, 0);
        padding:0 3px 0 3px;
        color: white;
    }
    .linkstyle a{
        text-decoration: none;
        list-style: none;
        color: white;
        margin: 2%;
    }
    #theme{
        margin-left: 80%;
    }
    #root{
        margin-top: 50px;
    }
 }

 