p,
dfn,
li {
    font-size: 1.2rem;
}

.container-fluid {
    margin-left: 60px !important;
    margin-top: -130px;
    width: fit-content;
}

.theme {
    z-index: 10;
    margin-top: 8px;
    display: flex;
    height: 5px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-family: cursive;
    flex-basis: 15%;
}
.theme input {
    margin: 0 !important;
    padding: 0 !important;
    height: 18px;
    width: 18px;
}

.toolbar {
    height: 25px;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
}