p,
dfn{
    font-size: 1.2rem;
}
.container-fluid{
    margin-top: -130px;
    width: fit-content;
}
#fsm{
    margin-left: 60px !important;
}

.theme {
    z-index: 10;
    display: flex;
    height: 5px;
    color: white;
    font-family: cursive;
    flex-basis:7%;
}
.theme input {
    margin: 0 !important;
    padding: 0 !important;
    height: 18px;
    width: 18px;
}
.theme span{
    font-size: 0.6em;
}
.readmode-text p{
    font-family: cursive;
    font-size: 0.6rem;
}
.toolbar {
    height: 25px;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content:center;
    text-align: center;
   
}
#readmode{
    height: 20px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
flex-basis: 2%;
}
@media screen and (max-width:576px) {
    .theme{
        flex-basis: 20%;
    }
    .toolbar{
        margin-top: -135px;
    }
    .container-fluid{
        margin-left: 5px !important;
    }
    #readmode{
        padding: 0.7%;
        flex-basis: 4.5%;
        margin-top: -2px;
    }
}
