p,
dfn{
    font-size: 1.1rem;
}
ol>li,ul>li{
    font-size: 1.1rem;
}
.footer{
    height: 200px;
    background-color: rgb(21, 21, 95);
    color: white;
    width: fit-content;
}
.container-fluid{
    margin-top: -130px;
    width: fit-content;
}
.code{
    background-color: black;
    color:white;
    padding:10px 10px 10px 20px;
}
.mt130{
    margin-top: 130px;
}
#fsm{
    margin-left: 60px !important;
}

.theme {
    z-index: 10;
    display: flex;
    height: 5px;
    color: white;
    font-family: cursive;
    flex-basis:7%;
}
.theme input {
    margin: 0 !important;
    padding: 0 !important;
    height: 18px;
    width: 18px;
}
.theme span{
    font-size: 0.6em;
}
.readmode-text p{
    font-family: cursive;
    font-size: 0.6rem;
}
.toolbar {
    height: 25px;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content:center;
    text-align: center;
   
}
#readmode{
    height: 20px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
flex-basis: 2%;
}
.noteForm{
    display: flex;
    flex-direction: column;
}
.noteList{
    background-color: midnightblue;
    margin: 5px;
    padding: 2px 5px 5px 15px;
    border: 1px solid navy;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;
}
.noteList a{
    color: white;
    text-decoration: none;
}
.noteList a:hover{
    color: aqua;
    font-weight: bold;
}
.noteContainer{
    display: flex;
    gap: 2%;    
}
.decription{
    width: 75vw;
    border: 2px solid black;
    border-radius: 7px;
    padding: 5px;
    background-color: rgb(55, 71, 66);
    color: white;
    height: 300px;
}
.ptext{
    columns: blue;
}
table, td,th{
    border: 1px solid black;
    padding: 5px;
}
ul li{
    list-style: disc;
}
.footer{
    width: 100%;
}
.sh{
    width:max-content;
    background-color: deeppink;
    color: white;
    display: flex;
    justify-content: center;
    border-radius:6px ;
    padding: 5px 15px 5px 15px;
    box-shadow: 2px -1px 4px 4px rgb(179, 179, 179);
    font-weight: bold;
}
.td{
    color: red;
}
.question-container{
    box-shadow: -1px -1px 2px 2px rgb(226, 226, 226);
    border-radius: 4px;
    margin: 10px;
    padding: 5px 10px 5px 10px;
}
.question{
    color: red;
    font-size: 1.4rem;
    margin-bottom: 0 !important;
}
.option{
    margin: 10px 25px 20px 25px;
}
.result{
    height: 250px;
    width: 20vw;
    box-shadow: -1px -1px 5px 4px rgb(95, 199, 79);
    background-color: rgb(205, 0, 154);
    margin: 20px;
    font-size:1.6rem;
    color: white;
    flex-direction: column;
    align-items: center;
}
label{
font-size:1.3rem;
}
.dfdr{
    display: flex;
}
.timer{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    padding: 20px;
}
.time{
    background-color: aqua;
    color: red;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    border-radius: 50%;
}
@media screen and (max-width:960px) {
.container-fluid{
    margin-top: -9vh !important;
}
}
@media screen and (max-width:576px) {
    .theme{
        flex-basis: 11%;
    }
    .toolbar{
        margin-top: -130px !important;
        padding-top: 4px;
    }
    #fsm{
        margin-left: 5px !important;
    }
    #readmode{
        padding: 0.7%;
        flex-basis: 4.5%;
        margin-top: -2px;
    }
    #addNote{
        margin-top: -7vh;
    }
    .code{
        width:auto;
    }
}
